---
import { Test } from '@electroaudiogram/ui'

import Body from '../components/Body.astro'
import Document from '../components/Document.astro'
import Head, { type Props as Metadata } from '../components/Head.astro'
import Html from '../components/Html.astro'

export interface Props {
  metadata: Metadata
}

const { metadata } = Astro.props
---

<Document>
  <Html>
    <Head {...metadata} />
    <Body>
      <a class='sr-only' href='#main-content'> Skip to main content </a>
      <Test />
      <slot />
    </Body>
  </Html>
</Document>
